.sets-management-page {
    display: flex;
    flex-direction: column;
    margin: 1rem 4rem;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;

    ul {
        border: #000;
        list-style-type: none;
        padding: 0;
    }

    li {
        margin-bottom: 10px;
    }

    .del,
    .edit {
        display: inline;
        padding: 5px 10px;
        margin-left: 5px;
        background-color: #f44336;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

    .del:hover,
    .edit:hover {
        background-color: #d32f2f;
    }

    #delete_form {
        margin-top: 10px;
        padding: 10px;
        border: 1px solid #000;
        border-radius: 5px;
        background-color: #fff;
    }

    #delete_form p {
        margin-bottom: 10px;
    }

    #delete_form button {
        padding: 8px 16px;
        margin-right: 10px;
        background-color: #f44336;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

    #delete_form button:hover {
        background-color: darken($color: #f44336, $amount: 15%);
    }

    .exam-info {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .edit-delete-buttons {
        display: flex;
        justify-content: center;
    }

    .edit-delete-buttons button {
        margin-left: 10px;
    }

    .delete-dialog {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 9999;
        background-color: rgba(0, 0, 0, 0.5);
        padding: 30px;
        border-radius: 5px;
        width: 40%;
        text-align: center;
        color: black;
    }

    .delete-dialog button {
        margin: 10px;
        padding: 10px 20px;
        border: none;
        background-color: #ccc;
        color: white;
        cursor: pointer;
        border-radius: 5px;
    }

    .delete-dialog p {
        margin-bottom: 20px;
    }

    table {
        width: 100%;
        border-collapse: separate;
        border-spacing: 0;
    }

    th,
    td {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: center;
    }

    th {
        background-color: #f2f2f2;
    }

    .pagination {
        margin: .5 rem 0;
        display: flex;
        justify-content: center;
        gap: 10px;
    }

    .css-1to7aaw-MuiButtonBase-root-MuiPaginationItem-root {
        color: rgb(17, 16, 16);
    }
}