.folder-page {
    color: white;

    .container {
        margin-left: 10%;
        margin-right: 10%;
    }

    .folder-page-header {
        font-size: 15px;
        margin-top: 40px;
        display: flex;
        justify-content: space-between;
    }

    .folder-details {
        display: flex;
        gap: 20px;
        font-weight: bold;
    }

    .folder-title {
        margin-top: 10px;
        font-size: 40px;
        display: flex;
        gap: 1.2vw;
        font-weight: bold;
    }

    .folder-title span {
        display: block;
        width: 100%;
    }

    .folder-page-header-actions {
        display: flex;
        gap: 1.2vw;
    }

    .add-button {
        padding: 5px;
        font-size: 30px;
        cursor: pointer;
        border: 2px solid #586380;
        border-radius: 100px;

        &:hover {
            background-color: #282E3E;
        }
    }

    .share-button {
        padding: 5px;
        font-size: 30px;
        cursor: pointer;
        border: 2px solid #586380;
        border-radius: 100px;

        &:hover {
            background-color: #282E3E;
        }
    }

    .edit-button {
        padding: 5px;
        font-size: 30px;
        cursor: pointer;
        border: 2px solid #586380;
        border-radius: 100px;

        &:hover {
            background-color: #282E3E;
        }
    }

    .delete-folder-button {
        padding: 5px;
        font-size: 30px;
        cursor: pointer;
        border: 2px solid #586380;
        border-radius: 100px;

        &:hover {
            background-color: #282E3E;
        }
    }

    .main {
        margin-top: 80px;
    }

    .content {
        margin-top: 20px;
        display: flex;
        gap: 20px;
        flex-wrap: wrap;
    }

    .overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        backdrop-filter: blur(5px);
        z-index: 9998;
    }

    .confirmation-box {
        font-size: 20px;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #1A1D28;
        padding: 40px;
        border-radius: 8px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        z-index: 9999;
    }

    .button-container {
        display: flex;
        justify-content: center;
        gap: 20px;
        margin-top: 20px;
    }

    .edit-folder {
        position: relative;
        top: 0px;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .edit-folder-box {
        font-size: 20px;
        position: fixed;
        top: 50%;
        left: 50%;
        width: 40%;
        height: 300px;
        transform: translate(-50%, -50%);
        background-color: #1A1D28;
        padding: 40px;
        border-radius: 20px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        z-index: 9999;
    }

    .edit-folder-button-container {
        display: flex;
        justify-content: center;
        gap: 20px;
        margin-top: 20px;
    }

    .pagination {
        margin-top: 20px;
        margin-bottom: 20px;
        display: flex;
        justify-content: center;
        gap: 10px;
    }

    .css-1to7aaw-MuiButtonBase-root-MuiPaginationItem-root {
        color: white;
    }

    @media only screen and (max-width: 768px) {
        .folder-page-header {
            flex-direction: column;
        }

        .main {
            margin-top: 40px;
        }

        .folder-page-header-actions {
            margin-top: 20px;
        }
    }
}