.body {
    background-color: #0a092d;
    min-height: 100vh;
}

.create-set .body {
    padding: 50px;
    align-items: center;
    color: white;
    flex: 1;
    height: 100%;

    .toolbar {
        display: flex;
        justify-content: space-between;

        .create-a-new-course {
            font-size: 20px;
            color: white;
            font-weight: bold;
        }

        .bt-create {
            display: flex;
            align-items: center;
            border-radius: 5px;
            text-align: center;
            justify-content: center;
            font-size: 20px;
            font-weight: bold;
            color: white;
            width: 70px;
            height: 50px;
            background-color: #4255ff;
            cursor: pointer;

            &:hover {
                background-color: #423ed8;
            }
        }

        // .bt-create {
        //     display: flex;
        //     align-items: center;
        //     border-radius: 5px;
        //     text-align: center;
        //     justify-content: center;
        //     font-size: 20px;
        //     font-weight: bold;
        //     color: white;
        //     width: 70px;
        //     height: 50px;
        //     background-color: #4255ff;
        //     cursor: pointer;

        //     &:hover {
        //         background-color: #423ed8;
        //     }
        // }
    }

    .enter-title {
        width: 100%;
        margin-top: 50px;

        label {
            font-size: 16px;
            font-weight: bold;
            color: white;
        }
    }

    .enter-title ::placeholder {
        color: white;

    }

    .enter-title input[type="text"] {
        width: 100%;
        height: 50px;
        box-sizing: border-box;
        //border: 1px solid #ccc;
        border-radius: 5px;
        font-size: 16px;
        font-weight: bold;
        padding: 20px;
        background-color: #2e3856;
        color: white;
    }

    .add-description {
        width: 100%;
        margin-top: 50px;

        label {
            font-size: 16px;
            font-weight: bold;
            color: white;
        }
    }

    .add-description ::placeholder {
        color: white;
    }

    .add-description input[type="text"] {
        width: 100%;
        height: 70px;
        box-sizing: border-box;
        //border: 1px solid #ccc;
        border-radius: 5px;
        font-size: 16px;
        font-weight: bold;
        padding: 20px;
        background-color: #2e3856;
        color: white;
    }

    .private-public {
        display: flex;

        .selecte-private-public {
            font-size: 20px;
            color: white;
            font-weight: bold;
            margin-top: 55px;

        }

        .private,
        .public {
            border: 2px solid #ccc;
            background-color: #0a092d;
            padding: 5px 10px;
            cursor: pointer;
            margin-top: 50px;
            margin-right: 10px;
            margin-left: 20px;
            border-radius: 10px;
            color: white;
            font-size: 18px;
            font-weight: bold;
        }

        .private:last-child,
        .public:last-child {
            margin-right: 0;
            margin-left: 10px;
        }

        .private:focus,
        .public:focus {
            outline: none;
        }

        .private:hover,
        .public:hover {
            color: #000;
            background-color: #acacb4;
        }

        .private.selected {
            background-color: #acacb4;
            color: #000;
        }

        .public.selected {
            background-color: #acacb4;
            color: #000;
        }

    }

    .card {
        display: flex;
        flex-direction: column;
        margin-top: 20px;
        gap: 20px;
        // padding: 20px;
        background-color: #0a092d;
        border-radius: 10px;
    }

    .item-card {
        display: flex;
        align-items: center;
        padding: 10px;
        /* Thêm padding để tạo khoảng cách từ border */
        border: 2px solid black;
        /* Thêm border cho mỗi item card */
        border-radius: 10px;
        /* Bo tròn các góc của item card */
        background-color: #2e3856;

        .stt-input {
            width: 50px;
            text-align: center;
            font-size: 18px;
            font-weight: bold;
            color: white;
            padding: 8px;
            border: 1px solid #2e3856;
            border-radius: 5px;
            outline: none;
            border: none;
            background-color: #2e3856;
        }

        .input-terms,
        .input-define {
            flex: 1;
            padding: 8px;
            border: 1px solid #ccc;
            border-radius: 5px;
            outline: none;
            margin-left: 30px;
            margin-left: 20px;
            /* Giảm khoảng cách từ trái của các input */
            border: none;
            /* Loại bỏ border để không lặp lại border */

            label {
                color: white;
                font-size: 18px;
            }

            input[type="text"] {
                color: white;
                font-size: 18px;
            }
        }

        .delete-icon {
            margin-left: 40px;
            color: white;
            cursor: pointer;
        }
    }

    .add-card-button {
        display: block;
        margin: 0 auto;
        margin-top: 30px;
        padding: 10px 20px;
        background-color: #2e3856;
        color: white;
        border: 2px solid #7dd;
        border-radius: 5px;
        font-size: 20px;
        font-weight: bold;
        cursor: pointer;

        &:hover {
            background-color: #7dd;
            color: #000;
            /* Đổi màu background khi hover */
        }
    }

    @media only screen and (max-width: 768px) {
        .item-card {
            flex-direction: column;
        }

        .item-card .stt-input {
            font-size: 24px;
        }

        .item-card .delete-icon {
            margin: 0;
            width: 100%;
            background-color: red;
            border-radius: 2px;
        }

        .item-card .input-terms,
        .item-card .input-define {
            width: 95%;
            margin: 0;
        }

        .item-card .input-define {
            margin-bottom: 30px;
            margin-top: 10px;
        }

        .card {
            padding: 0;
        }
    }
}


@media only screen and (max-width: 500px) {
    .create-set .body {
        padding: 20px;
    }
}