.sets {
    .body-sets {
        height: 100vh;
        background-color: #0d072d;
        justify-content: center;
        /* Căn giữa theo chiều ngang */
        align-items: center;
        /* Căn giữa theo chiều dọc */
        padding: 20px 50px 20px 50px;
    }

    .user-profile {
        display: flex;
        align-items: center;
    }

    .avatar {
        width: 70px;
        /* Điều chỉnh kích thước avatar theo ý muốn */
        height: 70px;
        /* Điều chỉnh kích thước avatar theo ý muốn */
        border-radius: 50%;
        /* Để hình ảnh thành hình tròn */
        margin-right: 10px;
        /* Khoảng cách giữa avatar và tên người dùng */
    }

    .username {
        color: white;
        font-size: 16px;
        font-weight: bold;
        /* Điều chỉnh kích thước của tên người dùng theo ý muốn */
    }

    .select-card {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        margin-top: 20px;
        border-bottom: 2px solid #282e3e;

    }

    .term,
    .folder {
        cursor: pointer;
        color: #8493b4;
        font-weight: bold;
        position: relative;

        &:hover {
            color: white;
        }

    }

    .active {
        font-weight: bold;
        color: white;
        box-shadow: inset 0 -2px 0 0 lighten(#2e3856, 50%);
    }

    .term:hover::after,
    .folder:hover::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0rem;
        width: 100%;
        /* Chiếm toàn bộ chiều rộng của phần tử cha */
        height: 2px;
        background-color: #acacfc;
    }

    .search-term {
        width: 50vh;
        display: flex;
        align-items: center;
        margin-left: auto;
        flex-grow: 1;
        height: 50px;
        padding-top: 20px;
        position: relative;

        input[type="text"] {
            flex-grow: 2;
            padding: 1rem;
            border-radius: 10px;
            border: none;
            color: white;
            background-color: #303c54;

            &::placeholder {
                color: #fff;
                font-weight: 700;
                font-size: 1rem;
            }
        }

        .icon-search {
            position: absolute;
            right: 10px;
            top: 5%;
            transform: translateY(50%);
            width: 40px;
            height: 40px;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;

            svg {
                color: #acacfc;
                font-size: 20px;
            }
        }

    }



    .sets-list {
        display: flex;
        flex-direction: column;
        height: max-content;
        margin-top: .5rem;

        .set-item-button {
            display: flex;
            flex-grow: 1;
            flex-wrap: wrap;
            justify-content: space-between;
            margin-bottom: 1rem;
            padding: .5rem 1rem .5rem 1rem;
            border: none;
            border-radius: 5px;
            background-color: #2e3856;
            position: relative;
            flex-direction: column;
            align-items: flex-start;

            span {
                position: absolute;
                top: 1rem;
                left: 1rem;
                font-size: 14px;
                color: #eee !important;
                font-weight: 900;
            }

            h3 {
                color: #eee !important;
                font-size: 20px;
                font-weight: 900;
                margin-bottom: 0;
            }
        }

        .set-item-button:hover {
            cursor: pointer;
            box-shadow: inset 0 -3px 0 0 lighten(#2e3856, 50%);
        }

    }

    .pagination {
        padding-bottom: 2rem;
        margin: 1rem 0;
        display: flex;
        justify-content: center;
        gap: 10px;
    }

    .css-1to7aaw-MuiButtonBase-root-MuiPaginationItem-root {
        color: white;
    }

    @media only screen and (max-width: 768px) {
        .search-term {
            width: 100%;
            padding-bottom: 5px;
        }
    }

    @media only screen and (max-width: 500px) {
        .body-sets {
            padding: 20px;
        }
    }
}