.body-sets{
    height: 100vh;
    background-color: #0d072d;
    justify-content: center; /* Căn giữa theo chiều ngang */
    align-items: center; /* Căn giữa theo chiều dọc */
    padding: 20px 50px 20px 50px;
}
.user-profile {
    display: flex;
    align-items: center;
}

.avatar {
    width: 70px; /* Điều chỉnh kích thước avatar theo ý muốn */
    height: 70px; /* Điều chỉnh kích thước avatar theo ý muốn */
    border-radius: 50%; /* Để hình ảnh thành hình tròn */
    margin-right: 10px; /* Khoảng cách giữa avatar và tên người dùng */
}

.username {
    color: white;
    font-size: 16px;
    font-weight: bold; /* Điều chỉnh kích thước của tên người dùng theo ý muốn */
}

.select-card {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 20px;

}
.term,
.folder {
    cursor: pointer; /* Biến con trỏ thành dấu tay khi hover vào */
    color: #8493b4; /* Màu chữ trắng */
    font-weight: bold;
    position: relative; /* Để thiết lập vị trí tuyệt đối cho đường line màu tím */

    &:hover {
        color: white;
    }
}

.term:hover::after,
.folder:hover::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%; /* Chiếm toàn bộ chiều rộng của phần tử cha */
    height: 2px;
    background-color: #acacfc;
}

.search-term {
    width: 50vh;
    display: flex;
    align-items: center;
    margin-left: auto;
    flex-grow: 1;
    height: 50px; 
    padding-top: 20px;
    
    input[type="text"] {
        flex-grow: 2;
        padding: 10px;
        border-radius: 10px;
        border: none;
        color: white;
        background-color: #313756;
    }

    // .icon-search {
    //     position: absolute;
    //     right: 10px;
    //     top: 50%;
    //     transform: translateY(50%);
    //     width: 40px;
    //     height: 40px;
    //     border-radius: 50%;
    //     display: flex;
    //     justify-content: center;
    //     align-items: center;
    //     cursor: pointer;

    //     svg {
    //         color: #acacfc;
    //         font-size: 20px;
    //     }
    // }
}