.body-folders {
    height: 100vh;
    background-color: #0d072d;
    justify-content: center;
    /* Căn giữa theo chiều ngang */
    align-items: center;
    /* Căn giữa theo chiều dọc */
    padding: 20px 50px 20px 50px;
}

.folder-card {
    display: flex;
    border: 1px solid #313756;
    background-color: #313756;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    margin-top: 30px;
    width: 150vh;
    padding: 10px 30px;
    flex-direction: column;
    cursor: pointer;
}

.active {
    font-weight: bold;
    color: white;
}

.folder-info {
    margin-right: 10px;
}

.folder-name,
.number-term {
    margin-bottom: 5px;
}

.faFolder {
    font-size: 24px;
    margin-right: 10px;
}

.active {
    font-weight: bold;
    color: white;
}

.folders-list {
    display: flex;
    flex-direction: column;
    height: max-content;
    margin-top: 1rem;

    .folder-item {
        display: flex;
        flex-grow: 1;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: 1rem;
        padding: .5rem 1rem .5rem 1rem;
        border: 1px solid #eee;
        border-radius: 5px;
        background-color: #2e3856;

        h3 {
            color: #eee !important;
        }
    }

    .set-item:hover {
        cursor: pointer;
        box-shadow: inset 0 -3px 0 0 lighten(#2e3856, 50%);
    }
}