.forgot-password {
  font-size: 14px;
  text-align: right;
  display: block;
  margin-top: 0px;
  color: blue;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
}

.forgot-password,
a:hover {
  text-decoration: underline !important;
}