.learn-page {
  .navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
  }

  .navigation select {
    padding: .5rem;
    border-radius: .25rem;
    border: 1px solid #ccc;
  }

  .learn-form {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 10%);
    width: 60%;
    height: 70vh;
    border: 1px solid #2e3856;
    background-color: #2e3856;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 2rem;
    transition: transform 0.5s ease;
  }

  .learn-form p {
    font-size: 1.5rem;
    color: #fff;
  }

  .defi-box {
    height: 40%;
    text-align: left;
    margin: 0 0 1rem 1rem;
  }

  .defi-box p {
    margin-bottom: 2rem;
  }

  .defi-box span {
    margin: 1rem 0;
    color: white;
  }

  .defi-box .hint-button {
    display: block;
    margin: 1rem 0;
    padding: .5rem 1rem;
    font-size: 1.2rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #2e3856;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: lighten($color: #2e3856, $amount: 10%);
    }
  }

  .input-box {
    height: 60%;
    margin: 0 0 1rem 1rem;
    text-align: left;

    .incorrect-message p {
      color: red;
    }

    .correct-message p {
      color: lightgreen;
    }
  }

  .input-box input {
    width: 93%;
    padding: 1rem;
    border-radius: 4px;
    border: 1px solid #ccc;
  }

  .control-button {
    position: absolute;
    bottom: 1.25rem;
    right: 1.25rem;
    display: flex;
    align-items: flex-end;

    .btn1 {
      background-color: inherit !important;
    }

    .btn1:hover {
      border: 1px solid #ccc;
    }
  }

  .control-button button {
    margin: .5rem .5rem 0 0;
    padding: .5rem 1rem;
    font-size: 1.2rem;
    border: 1px solid #2e3856;
    border-radius: 5px;
    background-color: #4454fc;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .control-button button:hover {
    background-color: lighten(#4454fc, $amount: 10%);
  }
}