.Tests {
    height: 100vh;
    overflow-y: auto; //cuộn dọc

    .navigation {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 1rem 1rem;
    }

    .close-button {
        padding: 8px 10px 6px 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
        background-color: inherit;
        color: #fff;
        cursor: pointer;
    }

    .close-button:hover {
        background-color: lighten(#262645, 20%);
    }

    .tests-form {
        width: 60%;
        height: 60vh;
        border: 1px solid #2e3856;
        background-color: #2e3856;
        border-radius: 10px;
        display: flex;
        cursor: pointer;
        transition: transform 0.5s ease;
        flex-direction: column;
        margin: 0 auto;
        margin-top: 20px;
    }

    .defi-box {
        height: 50%;

        p {
            font-size: 1.25rem;
            color: #fff;
            margin: 1.5rem 0 0 1.5rem;
        }
    }

    .term-box {
        height: 50%;

        p {
            font-size: 1.25rem;
            color: #fff;
            margin: 1.5rem 0 0 1.5rem;
        }
    }

    .term-box .buttons-answer {
        margin-top: .5rem;
        display: flex;
        flex-wrap: wrap;

        .button-row {
            display: flex;
            justify-content: space-around;
            margin-top: 10px;

            button {
                width: 50%;
            }
        }
    }

    .tests-form .buttons-answer button {
        margin: .5rem 6rem;
        padding: 1rem 4rem;
        font-size: 1.25rem;
        border: 2px solid #5b6383;
        border-radius: 10px;
        background-color: #2e3856;
        color: white;
        cursor: pointer;
    }

    .tests-form .buttons-answer button:hover {
        border: 2px solid #4454fc;
    }

    .tests-form .buttons-answer div {
        display: flex;
        justify-content: center;
        width: 100%;
    }
}