// body {
//     height: 100vh;
//     background-color: white;
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
//     align-items: center;
// }

.forgot-password-form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    max-width: 400px;
    background-color: white;
    /* Adjust width as needed */
    margin: 0 auto;
    padding: 2rem;
    border: 1px solid #ccc;
    border-radius: 8px;

    h1 {
        font-size: 24px;
        margin-bottom: 1rem;
    }

    p {
        font-size: 16px;
        margin-bottom: 1rem;
    }

    form {
        display: flex;
        flex-direction: column;
    }

    .MuiTextField-root {
        margin-bottom: 1rem;
        width: 100%;
    }

    .MuiButton-root {
        width: 100%;
        margin-bottom: 1rem;
        padding: 1rem;
    }
}